<p>
  heroes works! app-heroes 내용들..!
<!-- {{}} 컴포넌트에서 만든 내용을 넣는다. -->
  {{hero}}
</p>

<!-- | uppercase :: angluar 내장 파이프 -->
<h2>{{ hero2.name | uppercase }} Details</h2>
<div>
  <span>id: </span>{{hero2.id}}
</div>

<div>
  <span>name: </span>{{hero2.name}}
</div>

<h2> {{hero3.name}} </h2>

<div>
  <label>name :
    <input [(ngModel)]="hero3.name" placeholder="이름을 입력하세요.">
  </label>
</div>


<!-- let ~ of문법 알고있기 -->
<!--
  class binding 규칙
  [class.클래스명]="true or false"
  참이면 class="클래스명" 랜더링
-->
<ul class="heroes">
  <li *ngFor="let hero of hero4" (click)="onSelect(hero)"
      [class.selected]="hero===selectedHero"
      [style.color]="hero===selectedHero ? 'red' : 'blue'">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<!--
detail부분은 hero-detail클래스로 분리시켜 프로퍼티 바인딩 한다.
자식변수(프로퍼티바인딩)]="부모변수"
-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
